
  .example-header {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 1.3em;
    color: #d9534f;
    margin-bottom: 10px;
  }
  .example-phishing-container{
    display: flex;
    flex-direction: column;
    height: screen;
    justify-content: center;
    align-items: center;
  }
  .gmail-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px;
  }
  
  .phishing-section {
    position: relative;
    width: 100%;
    max-width: 350px;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #A8CBFF;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
 
  .message h4 {
    font-size: 1.1em;
    margin: 10px 0;
    color: #333;
  }
  
  .message p {
    margin: 8px 0;
  }
  
  .message a {
    color: #d9534f;
    text-decoration: underline;
  }
  
  ul {
    padding-left: 20px;
    margin: 8px 0;
  }
  
  li {
    margin: 5px 0;
  }
  