.fraud-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    background-color: #EFEFEF;
    width: 100%;
    max-width: 800px;
    justify-content: center;

}
  .fraud-card {
    display: flex;           /* Activa flexbox */
    align-items: center;     /* Centra verticalmente los elementos */
    gap: 10rem;     
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 20px;
    background: #366DC9
  }
  .title-card{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 20px;
  }
  .icon-image{
    width: 90px;
    height: 80px;
  }