.imagen-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: #efefef;
  width: 100%;
  height: screen;
  justify-content: center;
}
.imagen-card {
  color: white;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #0f489d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 20px;
  height: 10px;
}

.upload-image-card {
  width: 200px;
  height: 150px;
}
.title-image {
  font-weight: bold;
  font-size: 25px;
  text-align: left;
}
.imagen-description {
  font-weight: bold;
  width: 300px;
}
.button-help {
  background-color: #84b5ff;
  border-radius: 30px;
  padding: 15px;
  display: flex;
  width: 300px;
  justify-content: center;
  border: none;
  outline: none;
  gap: 1rem;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.button-help:focus {
  outline: none;
}

.button-help:hover {
  background-color: #6da1ff;
  transform: translateY(-5px);
  transition: all 0.2s ease;
}

.button-help:active {
  transform: translateY(1px);
}
.upload-container {
  display: flex;
  flex-direction: column;
  background-color: #a5b6d2;
  border-radius: 30px;
  height: 300px;
  width: 100%;
  max-width: 300px;
  justify-content: center;
  align-items: center;
}

.icon-gallery {
  width: 50px;
  height: 40px;
}
.question-mark {
  width: 20px;
  height: 20px;
}
.imagendos {
  height: 25rem;
  width: 25rem;
}
.analisis-button {
  background-color: #db4437;
  border-radius: 30px;
  padding: 15px;
  display: flex;
  width: 200px;
  justify-content: center;
  border: none;
  outline: none;
  gap: 1rem;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.analisis-button.loading {
  background-color: #78261f;
  cursor: none;
}
