.response-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    background-color: #EFEFEF;
    width: 100%;
    height: screen;
    justify-content: center;
  }
  .response-title{
    color:black;
    font-size: 25px;
  }
  .header-title{
    font-weight: bold;
    font-size: 25px;
    text-align: left;
  }
  .header-response{
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #0F489D;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 20px; 
    height: 10px;
  }
  .verdict-container{
    background-color: green;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color:white;
    font-weight: bold;
    width: 100%;
    max-width: 350px;
    font-size: 20px;
    gap: 1rem;
  }
  .recommendation-container{
    background-color: #3C78DD;
    height: 50px;
    border-radius: 20px;
    display: flex;

    align-items: center;
    padding: 5px;
    color:white;
    font-weight: bold;
    width: 100%;
    width: 350px;
    font-size: 20px;

  }
  .recommendation-container::before {
    content: "•"; /* Bullet symbol */
    color: white; 
    font-size: 30px;
    margin-right: 8px; 
    text-align: left;
  }
  .recommendations{
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }