.imagen-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    background-color: #EFEFEF;
    width: 100%;
    max-width: 800px;
    justify-content: center;

}
.imagen-card {
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(to bottom, #3C78DD, #204177);
    height: 50px;
    justify-content: center;
  }
  .upload-image-card{
    width: 200px;
    height: 150px;
  }
  .title-image{
    font-weight: bold;
    font-size: 25px;
  }
  